section.contact {
    height: 100vh;
    background-color: $backgroundColor;
    display: flex;
    align-items: center;

    .wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        align-items: center;
    }

    h3 {
        align-self: center;
    }

    p {
        margin: 1.5rem auto;
    }

    .socialIcons {
        display: flex;
        justify-content: space-around;
        padding: 1rem 1.5rem;
    }

    i {
        font-size: 3.25rem;
        color: $mistyBlue;
        transition: all 0.5s ease;

        &:hover {
            color: $blueGrotto;
            transform: scale(1.2)
        }
    }

    .formContainer {

        width: 100%;

        form {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 100%;
            align-items: center;
        }
    
        input, textarea {
            padding: 0.5rem;
            @include fontStyles(1rem, $primaryColor, 400, $mainFont);
            border-radius: 8px;
            border: 1px solid $mistyBlue;
            margin: 10px 0px;
            width: 100%;
            max-width: 700px;
            resize: none;
            // text-align: center;
        }   
    }
}