.portfolio {
    h3 {
    border-bottom: 6px solid $mistyBlue;
    align-self: center;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}

.portfolio {
    padding: 5% 0;
    text-align: center;
    background-color: $offWhite;

    .portfolioContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        padding: 7% 0;
        border-bottom: 1px solid $blueGrotto;
    }
}

.portfolioImage {
	min-width: 300px;
	width: calc(50%);

    img {
        width: 100%;
        height: 400px;
        object-fit:cover;
        transition: all 0.2s;
    }
}

.portfolio img:hover {
    transform: scale(1.1);
}

.portfolio {
    .portfolioText {
        position: relative;
        padding: 0% 3%;
        width: 50%;
        // margin-left: 80px;
        padding-bottom: 15px;
        text-align: left;
        
        h4 {
            display: inline-block;
            margin-bottom: 10px;
            font-size: 2.7rem;
            text-transform: uppercase;
        }
        
        p {
            margin-bottom: 20px;
            text-align: justify;
        }
        
        .tech {
            margin-bottom: 10px;
            .divide {
                margin: 0 5px;
            }
        }
    }
}

.portfolioContainer:nth-child(odd) {
    .portfolioText {
        display: flex;
        flex-direction: column;
    }
}


.links {
    position: absolute;
    bottom: 5px;
    display: flex;

    a {
        font-weight: 700;
        text-transform: uppercase;
        color: $primaryColor;

        transition: all 0.2s;
    }

    a:hover,
    a:focus {
        color: $mistyBlue;
    }

    .divide {
        margin: 0 5px;
    }
}